li{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
ol{
    font-size: 18px;
    font-weight: bold;
}
ol ul{
    font-size: 16px;
    font-style: italic;
}
ol ul ul{
    font-size: 15px;
    font-weight: normal;
    font-style:normal;
}
#contact{
    left: 50%;
    width: 50%;
    margin-top: 3rem;
    position: absolute;
}
#contactimage {
    width: 75%;
    float:left;
  }
.contrast {
    color: rgb(121, 64, 0);
    text-decoration: none;
}
.video{
    width: 100%;
}